<section class="pulse animated" id="platform">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><a href="https://wiki.opencaribbean.org">Wiki</a></h4>
          <p class="text-muted">{{'Rich docs for understand all the Arawak platform technologies'|i18next}}</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><a href="http://api.opencaribbean.org">Development</a></h4>
          <p class="text-muted">{{'Ready for developers, access to all APIs for add new functionalities '|i18next}}</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-map-signs fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><a href="https://arawak.opencaribbean.org/maps">Resources</a></h4>
          <p class="text-muted">{{'Access to thousand of resources, manage them and creeate amazing tours'|i18next}}</p>
        </div>
      </div>
    </div>
  </section>
 