<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Caribbean Tour Platform 2019</span>
        </div>
        <div class="col-md-4"> </div>
        <div class="col-md-4">
          <share-buttons [theme]="'circles-dark'"
          [include]="['facebook','twitter','linkedin','google']"
          [show]="5"
          [showCount]="false"
          [size]="3"
          [url]="'http://arawak.opencaribbean.org'"
          [title]="'Awaraks'"
          [description]="'Caribbean Tour Platform'"
          [autoSetMeta]="false"
          ></share-buttons>
        </div>
         
      </div>
    </div>
  </footer>