<section class="bg-light  pulse animated" id="places">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Tourist attractions by regions</h2>
        </div>
      </div>
      <div class="row">
        
        
        <div class="col-md-4 col-sm-6 places-item">
          <a class="places-link" data-toggle="modal" href="/maps?country=m8M3g2oBJEqmyUrkFqkZ">
            <div class="places-hover">
              <div class="places-hover-content">
                <i class="fas fa-eye fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/places/jamaica.jpg" alt="">
          </a>
          <div class="places-caption">
            <h4>Jamaica</h4>
            <p class="text-muted">402 Places, 34 Itinerarios</p>                     
         </div>
        </div>

        <div class="col-md-4 col-sm-6 places-item">
          <a class="places-link" data-toggle="modal" href="/maps?country=YcM1g2oBJEqmyUrk_KmL">
            <div class="places-hover">
              <div class="places-hover-content">
                <i class="fas fa-eye fa-3x"></i>
              </div>
            </div>
            <img  class="img-fluid" src="assets/img/places/cuba.jpg" alt="">
          </a>
          <div class="places-caption">
            <h4>Cuba</h4>
            <p class="text-muted">402 Places, 34 Itinerarios</p>                     
         </div>
        </div>

        <div class="col-md-4 col-sm-6 places-item">
          <a class="places-link" data-toggle="modal" href="/maps?country=4MM4g2oBJEqmyUrkZKmt">
            <div class="places-hover">
              <div class="places-hover-content">
                <i class="fas fa-eye fa-3x"></i>
              </div>
            </div>
            <img  class="img-fluid" src="assets/img/places/puertorico.jpg" alt="">
          </a>
          <div class="places-caption">
            <h4>Puerto Rico</h4>
            <p class="text-muted">402 Places, 34 Itinerarios</p>                     
         </div>
        </div>
        
      </div>
    </div>
  </section>