.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.inWinzart {
  padding: 20px;
}

.form-control {
  z-index: 1000;
}

.container {
  padding: 10px;
}

wizard-step {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

/*SIDE*/

/* The sidepanel menu */

.sidepanel {
  height: 360px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 260px;
  right: 120px;
  background-color: #0179c1;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 16px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0179c1;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 260px;
  right: 0;
  right: 120px;
}

.openbtn:hover {
  background-color: #022236;
}