

  <section class="bg-light  pulse animated">
        <div class="container">
       <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>{{'404 Not Found'|i18next}}</h2>
                <div class="error-details">
                 {{'Sorry, an error has occured, Requested page not found!'|i18next}}
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                      {{'Take Me Home'|i18next}} 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
  </section>